<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Блог сайта</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

    <h1>Блог сайта</h1>
    <div th:each="element : ${articles}">
        <h3 th:text="${element.title}" />
        <p th:text="${element.anons}" />
        <a th:href="'/blog/' + ${element.id}">Смотреть</a>
    </div>

</body>
</html>